@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
         url('./fonts/Inter-Bold.woff2') format('woff2');
    /* Add more font weights and styles as needed */
    font-weight: normal;
    font-style: normal;
  }
  
  
  /* Use Inter font family for the desired elements */
  h1, h2, p, a {
    font-family: 'Inter', sans-serif;
    color: #e0e0e0;
  }